@media (max-width: 1286px) {
    body{
        width: 98%;
    }

    #flover1, #flover2 {
        bottom: 23%;
        left: 2%;
    }

    #flover3, #flover4 {
        bottom: 8%;
        left: 2%;
    }

    .flower_category_link{
        font-size: 12px;
    }

    .title-container{
        padding: 3px 5px;
    }

    .main__img-container-phone{
        display: none;
    }

    .advantage_info_block{
        width: 90%;
    }

    .main__img-container{
        background: none;
    }

    .main__all-flowers{
        width: 50%;
    }

    .main__flower-container{
        min-width: 250px;
        max-width: 250px;
    }

    .one_good_name span{
        font-size: 13px;
    }
}
@media (max-width: 1200px) {
    .main__flowers-categories{
        width: 50%;
    }

}

@media (max-width: 1105px) {
    .main__flower-container, .main__flower-img{
        min-width: 240px;
        max-width: 240px;
    }
}

@media (max-width: 1060px) {
    .flower_category_link{
        font-size: 13px;
    }

    .title-container{
        padding: 3px 6px;
    }

    .main__flower-container, .main__flower-img{
        min-width: 220px;
        max-width: 220px;
    }

    .main__all-flowers{
        min-height: 370px;
        max-height: 370px;
    }

    #main__flower-img_first, #main__flower-img_second{
        margin-bottom: 0;
    }

    #flover3, #flover4 {
        bottom: 21%;
        left: 2%;
    }

    .main__all-flowers-img-container{
        height: 98.5%;
    }
}

@media (max-width: 980px) {
    #main__flower-container_2, #main__flower-container_4{
        display: none;
    }

    .main__flowers-categories {
        min-width: 220px;
        width: 30%;
    }

    .main__all-flowers {
        width: 65%;
    }

    .pay_img{
        max-width: 300px;
    }

    .one_term_title {
        min-width: 300px;
    }

    .one_good {
        min-width: 180px;
    }
}

@media (max-width: 900px) {
    .one_good{
        margin: 1%;
        min-width: 170px;
    }

    .one_good_description{
        height: 30%;
    }

    .one_good_img {
        min-height: 100%;
        height: 100%;
    }

    .one_good_img_container{
        height: 55%;
        min-height: 55%;
    }
}

@media (max-width: 780px) {
    .one_good{
        margin: 1%;
        min-width: 180px;
        width: 48%;
    }

    .one_good_name span{
        font-size: 15px;
    }

    .one_good_price span{
        font-size: 15px;
    }

    .one_good_img_container{
        height: 57%;
    }

    .one_good_description{
        height: 39%;
    }
}

@media (max-width: 710px) {
    .main__container{
        display: none;
    }

    .one_term_title{
        min-width: 200px;
    }

}

@media (max-width: 680px) {
    .one_term{
        flex-direction: column;
    }
}

@media (max-width: 630px) {
    #main__flower-img_first{
        margin-bottom: 0;
    }

    .main__all-flowers{
        display: none;
    }

    .header__address{
        display: none;
    }

    .header__nav2{
        flex-direction: column;
    }

    .header__search{
        margin-top: 10px;
    }

    .main__flowers-categories{
        width: 100%;
        min-width: 0;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .main__all-flowers {
        min-width: 450px;
    }

    .main__flower-container {
        width: 100%;
        min-width: 350px;
        margin-bottom: 15px;
    }

    .title-container {
        margin: 10px;
    }

    #flover1, #flover2 {
        bottom: 3%;
    }

    .main__flower-title-container {
        bottom: 10%;
    }

    .main__img-container{
        display: none;
    }

    .advantage_info{
        width: 98%;
        min-height: 350px;
    }

    .goods_container{
        margin: 5px auto;
    }
}

@media (max-width: 450px) {
    .main__flower-container{
        width: 100%;
        min-width: 0 !important;
    }

    .pay_img{
        max-width: 300px;
    }

    .header__nav2{
        justify-content: flex-start;
        align-items: flex-start;
    }

    .header__nav2-container:first-child{
        padding-left: 20px;
    }

    .header__logo-img{
        padding-left: 20px;
    }
    .one_good{
        min-width: 140px;
    }
    .one_good_img_container{
        height: 40%;
    }

    .one_good_description{
        height: 40%;
    }

    .one_good_name span{
        font-size: 12px;
    }

    .one_good_price span{
        font-size: 13px;
    }

    .one_good_title{
        font-size: 17px;
    }

    .fa-heart{
        font-size: 21px;
    }

    .pay_btn{
        font-size: 13px;
    }
}

@media (max-width: 350px) {
    .pay_img{
        max-width: 240px;
    }
}